<div class="mainDiv">

  <h4>Add Recipe</h4>

  <div class="inputFields">

      <mat-form-field>
          <input matNativeControl #recName placeholder="Rezeptname" value="">
        </mat-form-field>
        
        <mat-form-field>
            <input matNativeControl #imgSrc placeholder="Image Source" value="">
        </mat-form-field>
        
        <mat-form-field>
            <input matNativeControl #recZubereitung placeholder="Zubereitung" value="">
          </mat-form-field>

        <mat-form-field>
            <mat-label>Select Zutat</mat-label>
            <mat-select #selection [(value)]="selected">
              <mat-option *ngFor="let zutat of zutaten" [value]="zutat">
                {{zutat.name}}
              </mat-option>
            </mat-select>
        </mat-form-field><br>

        <mat-form-field>
            <input matNativeControl #zuQuantity placeholder="Quantity" value="">
        </mat-form-field>
        
      
      <ul>
        <li *ngFor="let item of tempzutaten"><span>{{ item.name }}</span><span>{{ item.quantity }}</span></li>
      </ul>

      <button mat-button (click)="tempAddZutat(selected)">Add Zutat</button>

      <button mat-button (click)="addRecipe(recName.value, imgSrc.value, recZubereitung.value, tempzutaten)">Add recipe</button>

  </div>

</div>