<div class="mainDiv">

  <h1>Add Recipe</h1>

  <div class="inputFields">

      <mat-form-field>
          <input matNativeControl #recName placeholder="Recipe Name" value="">
        </mat-form-field>

      <mat-form-field>
          <input matNativeControl #recDesc placeholder="short Description" value="">
        </mat-form-field>
        
        <mat-form-field>
            <input matNativeControl #imgSrc placeholder="Image Source" value="">
        </mat-form-field>
        
        <mat-form-field>
            <textarea  matNativeControl #recZubereitung placeholder="Zubereitung" value=""></textarea>
          </mat-form-field>

      <button mat-button class="selectZutatenButton" (click)="openAddZutatDialog()">Click to select Zutaten</button>

      <div class="displayZutaten" *ngFor="let item of tempzutaten">
          <span>{{ item.quantity }} </span><span>{{ item.unit }} </span><span>{{ item.name }} </span>
      </div>

      <button mat-button class="addRecipeButton" [mat-dialog-close]="true" (click)="addRecipe(recName.value, recDesc.value ,imgSrc.value, recZubereitung.value, tempzutaten)">Add recipe</button>

  </div>

</div>