.cardContainer{
    display: inline-flex;
    flex-wrap: wrap;
}

.recipeCard{
    margin: 5px;
    /* width: 30%;
    height: 30%; */
}

.recipe-zubereitung{
    max-lines: 3;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    width: 186px;
}
.recipe-desc{
    max-lines: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    width: 186px;
}

::ng-deep .mat-card-header-text{
    margin: 0px !important;
}

.addButton{
    background-color: green;
    position: fixed;
    bottom: 50px;
    right: 50px;
}

.mat-button{
    width: 100%;
}