<h2>Start Page / Overview</h2>

<div>
  <h4>Rezepte</h4>

  <div class="recipeButtons" *ngFor="let recipe of rezepte">
    <button mat-button [routerLink]="['/rezept', recipe.id]" routerLinkActive="active">{{ recipe.name }}</button>
  </div>

  <h4>Add Recipe</h4>

  <input #recName placeholder="Rezeptname" value=""><br>
  <!-- <p>{{recipeName}}</p> -->
  <!-- <input #recID placeholder="ID" value=""><br> -->
  <input #imgSrc placeholder="Image Source" value=""><br>
  <input #recZubereitung placeholder="Zubereitung" value=""><br>

  <mat-form-field>
    <mat-label>Select Zutat</mat-label>
    <mat-select [(value)]="selected">
      <mat-option *ngFor="let zutat of zutaten" [value]="zutat">
        {{zutat}}
      </mat-option>
    </mat-select>
  </mat-form-field><br>

  <ul>
    <li *ngFor="let item of tempzutaten">{{ item }}</li>
  </ul>
  <button mat-button (click)="tempAddZutat(selected)">Add Zutat</button>

  <!-- <mat-form-field>
      <mat-label>Select Zutat</mat-label>
      <mat-select [formControl]="selected" multiple>
        <mat-option *ngFor="let zutat of zutaten" [value]="zutat">
          {{zutat}}
        </mat-option>
      </mat-select>
    </mat-form-field><br> -->

  <button mat-button (click)="addRecipe(recName.value, imgSrc.value, recZubereitung.value, tempzutaten)">Add recipe</button>

  <h4>Add Zutat</h4>

  <input #zutatString placeholder="Zutat" value=""><br>
  <button mat-button (click)="addZutat(zutatString.value)">Add Zutat</button>



