<!--The content below is only a placeholder and can be replaced.-->
<!-- <div class="mainDiv">
  <h1 style="margin:20px;">Welcome to {{ title }}!</h1>

  <button routerLink="/zutaten" >Alle Zutaten!</button>
</div>

<app-rezept></app-rezept>



<app-zutaten></app-zutaten> -->

<mat-toolbar>
    <button mat-button routerLink="/start" routerLinkActive="active">StartPage</button>  
    <button mat-button routerLink="/zutaten" routerLinkActive="active">Zutaten</button>
  </mat-toolbar>

<router-outlet></router-outlet>
