
<h2 class="name">{{actualRecipe.name}}</h2>

<img src="https://s14-eu5.startpage.com/cgi-bin/serveimage?url=http%3A%2F%2Ft0.gstatic.com%2Fimages%3Fq%3Dtbn%3AANd9GcT6X1w4dbHcgj_O4hByDeHOYMIdanO-dqVvcagsWlXQbfGkzmTV&sp=94b415816f3fc3f0424dc7e9df495e16&anticache=648710"/>

<div class="description">
  <h4>Beschreibung</h4>
  <span>{{ actualRecipe.id }}</span>
  <h4>Zubereitung</h4>
  <span>{{ actualRecipe.zubereitung }}</span>
</div>

<h4>Zutaten</h4>
<ol><li *ngFor="let zutat of actualRecipe.zutaten">{{ zutat }}</li></ol>

<button mat-button>Alle Zutaten der Einkaufsliste hinzufügen.</button>
