table {
    width: 100%;
}

.addButton{
    background-color: green;
    position: fixed;
    bottom: 50px;
    right: 50px;
    font-size: 25px;
}

::ng-deep .mat-cell.cdk-column-addBtn.mat-column-addBtn.ng-star-inserted{
    width: 15px;
}

::ng-deep .mat-cell.cdk-column-addBtn.mat-column-categories.ng-star-inserted{
    width: 30px;
}